.smart {
  text-align: center;
  position: relative;
}

.smart::after {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 300px;
  height: 300px;
  background-image: url(../public/images/μ¤λ§νΈν°.png);
  z-index: 30;
}

.wow-img {
  max-width: 200px;
  max-height: 200px;
}

.btn {
  border-radius: 8px;
  margin: 4px;
  color: royalblue;
  font-weight: bold;
  background-color: aliceblue;
  border: none;
}
